{{> head }}

{{> navbar }}

<div class="row">

  <div class="col-8">
      <h1>Esta es mi sección de imagenes de Sri Krishna</h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Totam fuga illo eaque corrupti labore. Odit praesentium id eos. Quidem dolor non labore, id quia fugiat doloribus maiores vero inventore tempore?</p>
  </div>

  <div class="col-4">
    <img src="assets/img/mYVUsgW.jpeg" class="img-thumbnail">
  </div>


</div>

{{> footer }}

